[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
cherrypy = "*"
scipy = "*"
scikit-learn = "*"
networkx = "*"
pulp = "*"
mecab-python = "*"
janome = "*"
typing = "*"


[dev-packages]



[requires]

python_version = "2.7"